<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cart">

   <!-- 1.장바구니 추가 -->
   <insert id="insertCart">
    insert into basket(
    m_Id, product_No, basket_Quantity
    )values(
       #{m_Id}, #{product_No}, #{basket_Quantity}
    )
   </insert>
   
   <!-- 2. 장바구니 목록 -->
   <!-- 아이디, 상품번호, 수량, 상품명, 상품가격 -->
   <select id="listCart" resultType="com.ac.shopping.cart.dto.CartDTO">
select 
    m.m_Id as m_Id,
    p.product_No as product_No,
	b.basket_Quantity as basket_Quantity,
	p.pro_price as pro_price,
	p.pro_name as pro_name,
	b.basket_color as pro_color,
    b.basket_size as pro_size
from  
   basket b, product p, member m
where
	b.product_no = p.product_no
	and b.m_id = m.m_id
	and m.m_id = #{m_Id}
	</select>
	
   <!-- 3. 장바구니 전체 금액 -->
   <select id="sumMoney" resultType="int">
      select nvl(sum(pro_price*basket_quantity),0) money
      from basket b, product p
      where b.product_no = p.product_no
      and b.m_id = #{m_Id}
   
   </select>
   <!-- 4. 장바구니 수정 -->
    <update id="modifyCart">
        UPDATE basket 
        SET basket_Quantity = #{basket_Quantity} 
        WHERE m_Id= #{m_Id}
        AND product_No = #{product_No}
    </update>
	<!-- 5. 장바구니 삭제 -->
	<delete id="deleteCart">
		delete from basket
		where product_No = #{product_No}
		and m_Id = #{m_Id}
	
	</delete>
	
   <select id="countCart" resultType="int">
   SELECT count(*)
    FROM BASKET
    WHERE M_ID = #{m_Id}
   </select>
    <insert id="order" statementType="CALLABLE" parameterType="hashmap">
        {
            CALL M_ORDER(
                #{odto.name},
                #{odto.phone},
                #{odto.address},
                #{odto.request},
                #{clist.m_Id},
                #{clist.product_No},
                #{clist.pro_size},
                #{clist.pro_color},
                #{clist.basket_Quantity},
                #{PARM10, mode=OUT, jdbcType=VARCHAR, javaType=String}          
                    
            )
        }
    </insert>
    
    <insert id="re_order">
    {
     CALL M_REORDER(
                #{order_no},
                #{cdto.product_No},
                #{cdto.pro_size},
                #{cdto.pro_color},
                #{cdto.basket_Quantity},
            )
    }
    
    </insert>




</mapper>